.feynman {
  min-height: 790px;
  padding-top: 100px;
  position: relative;
  background: url(../../images/feynman.png) no-repeat;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-color: #f2f2f2;
}
